.header {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
}
.header img {
  width: 240px;
}
.head-center {
  border-radius: 25px;
  background-color: white;
  width: 30%;
  padding: 5px 18px;
  display: flex;
  justify-content: space-between;
}
.head-icon {
  color: gray;
  cursor: pointer;
}
.search {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.search::placeholder {
  color: #bdbdbd;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}
.li {
  color: white;
  font-weight: 700;
  font-size: 13px;
}
.Wli:hover {
  color: red;
}

.slick-img {
  width: 100%;
  height: auto;
  display: block;
}
.slider-container {
  position: relative;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 520px;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
}
.slick-dots li {
  margin: 0 5px;
}
.slick-dots li button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button:before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  background-color: rgb(145, 11, 11);
  opacity: 1;
}
.lang {
  position: absolute;
  top: 140px;
  right: 50px;
  z-index: 2000;
  select {
    background-color: black;
    color: rgb(185, 0, 0);
    width: 100px;
    padding: 5px;
    outline: none;
    font-weight: 700;
  }
}
.center {
  width: 70%;
  margin: 20px auto;
}
.center-header {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 20px;
}
.center-paragraph {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.footer {
  background-color: black;
  display: flex;
  padding: 15px 35px;
  align-items: center;
  justify-content: space-between;
}
.foot-left {
  width: 250px;
  height: 150px;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}
.social-img {
  width: 40px;
  height: 40px;
}
/* import React from 'react';
import { useLocation } from 'react-router-dom';

function ProductDetail({ product }) {
  const location = useLocation();
  
  // Specials page olduğunuzu yoxlayırıq
  const isSpecialPage = location.pathname === '/specials';

  return (
    <div>
      <h1>{product.name}</h1>
      <p>Price: {isSpecialPage && product.specialPrice ? product.specialPrice : product.price}</p>
      {isSpecialPage && product.specialPrice && (
        <p><b>Special Offer!</b> Price: {product.specialPrice}</p>
      )}
    </div>
  );
}

export default ProductDetail;
 */