@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,79.4,300..800;1,79.4,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Open Sans", sans-serif;
}